$mobile: 375px;
$tablet: 900px;
$small-desktop: 1200px;
$desktop: 1440px;

@mixin for-tablet-up {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin for-small-desktop {
  @media (min-width: $small-desktop) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $desktop) {
    @content;
  }
}

/* font import */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

$primary-colors: (
  grayish-blue: hsl(237, 18%, 59%),
  soft-red: hsl(345, 95%, 68%),
);
$neutral-colors: (
  white: hsl(0, 0%, 100%),
  dark-desaturated-blue: hsl(236, 21%, 26%),
  very-dark-blue: hsl(235, 16%, 14%),
  darkest-blue: hsl(234, 17%, 12%),
  dark-violet: #1f1d2a,
);

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

body {
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;

  background: linear-gradient(
    map-get($neutral-colors, darkest-blue),
    map-get($neutral-colors, dark-desaturated-blue)
  );
}

.stars-background {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-image: url('/images/bg-stars.svg');
  background-repeat: repeat;
}
.app {
  width: 100%;
  height: calc(100vh - 220px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text {
  position: relative;
  width: 90%;
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: white;

  @include for-tablet-up(){
    top: 0;
    width: 90%;
    font-size: 1rem;
  }
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 40px;
  line-height: 0;

  @include for-tablet-up() {
    width: 100%;
  }
  @include for-small-desktop() {
    width: 50%;
  }
}

.countdown-container * {
  user-select: none;
  cursor: default;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.countdown {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &-time-text {
    font-size: 0.5rem;
    color: map-get($primary-colors, grayish-blue);
    line-height: normal;
    padding-top: 10px;
    text-transform: uppercase;

    @include for-tablet-up() {
      font-size: 0.9rem;
    }

    @include for-desktop-up() {
      font-size: 1.2rem;
    }
    
  }

  .digit {
    position: relative;
    width: 70px;
    height: 70px;

    box-shadow: 0 5px 0px 0px black;
    border-radius: 8px 8px 8px 8px;

    perspective: 1000px;
    backface-visibility: hidden;
    color: map-get($primary-colors, soft-red);

    /* remove the persepective on firefox only due to a bug in the browser rendering with perspective and preseve 3d*/
   /*  @supports (-moz-appearance: none) {
      perspective: none;
    } */

    @include for-tablet-up() {
      width: 100px;
      height: 100px;
    }

    @include for-desktop-up(){
      width: 140px;
      height: 140px;
    }
  }
}

.digit::before {
  content: attr(data-digit-before);
  bottom: 0;
  align-items: flex-start;
  background-color: #34364f;

  padding-left: 1.2px;

  @supports (-moz-appearance: none) {
    padding-left: 0;
  }
}
.digit::after {
  content: attr(data-digit-after);
  background-color: #2c2c44;
  color: #d3506f;
  top: 0;
  align-items: flex-end;
}

.digit::before,
.digit::after {
  position: absolute;
  z-index: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 50%;

  overflow: hidden;
  @include for-tablet-up() {
    font-size: 3rem;
  }

  @include for-desktop-up(){
    font-size: 4rem;
  }
}

.card {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50%;

  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(0);

  transition: transform 0.7s ease-in-out;

  .bullet {
    width: 100%;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 32.5px;
    z-index: 5;
    width: 2.2px;
    height: 5px;
    background-color: black;

    @include for-tablet-up() {
      top: 45px;
      width: 4.4px;
      height: 10px;
    }
  
    @include for-desktop-up(){
      top: 65px;
      width: 4.4px;
      height: 10px;
    }
  }

  &::before {
    left: 0;
    border-radius: 0px 5px 5px 0px;
  }
  &::after {
    content: "";
    right: 0;
    border-radius: 5px 0px 0px 5px;
  }
}

.card-face {
  position: absolute;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  overflow: hidden;

  backface-visibility: hidden;
  will-change: transform;
  color: map-get($primary-colors, soft-red);

  @include for-tablet-up() {
    font-size: 3rem;
  }

  @include for-desktop-up(){
    font-size: 4rem;
  }
}

.card.active {
  transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
}

.card-face-front {
  align-items: flex-end;
  background-color: white;
  background-color: #2c2c44;
  color: #d3506f;
}

.card-face-back {
  align-items: flex-start;
  transform: rotateX(180deg);
  -moz-transform: rotateX(-180deg);
  background-color: #34364f;
}

.digit::before,
.card-face-back {
  border-radius: 0 0 8px 8px;
}

.digit::after,
.card-face-front {
  border-radius: 8px 8px 0 0;
}

.bottom-img {
  width: 100%;
  height: 150px;
  position: relative;
  bottom: -70px;
  overflow: hidden;
  background-image: url("/images/pattern-hills.svg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  
}

.footer-social {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;

  & li {
    padding: 0 1rem;
    cursor: pointer;

    & svg path:hover {
      fill: map-get($primary-colors, soft-red);
    }
  }
}

.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  background-color: transparent;
  color: lightgray;
  width: 100%;
  height: 20px;
  bottom: 0;
  z-index: 10;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}