/* font import */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#191a24), to(#343650));
  background: linear-gradient(#191a24, #343650);
}

.stars-background {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-image: url("/images/bg-stars.svg");
  background-repeat: repeat;
}

.app {
  width: 100%;
  height: calc(100vh - 220px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-text {
  position: relative;
  width: 90%;
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

@media (min-width: 900px) {
  .header-text {
    top: 0;
    width: 90%;
    font-size: 1rem;
  }
}

.countdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 40px;
  line-height: 0;
}

@media (min-width: 900px) {
  .countdown-container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .countdown-container {
    width: 50%;
  }
}

.countdown-container * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.countdown-time-text {
  font-size: 0.5rem;
  color: #8486a9;
  line-height: normal;
  padding-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .countdown-time-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 1440px) {
  .countdown-time-text {
    font-size: 1.2rem;
  }
}

.countdown .digit {
  position: relative;
  width: 70px;
  height: 70px;
  -webkit-box-shadow: 0 5px 0px 0px black;
          box-shadow: 0 5px 0px 0px black;
  border-radius: 8px 8px 8px 8px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #fb6087;
  /* remove the persepective on firefox only due to a bug in the browser rendering with perspective and preseve 3d*/
  /*  @supports (-moz-appearance: none) {
      perspective: none;
    } */
}

@media (min-width: 900px) {
  .countdown .digit {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1440px) {
  .countdown .digit {
    width: 140px;
    height: 140px;
  }
}

.digit::before {
  content: attr(data-digit-before);
  bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #34364f;
  padding-left: 1.2px;
}

@supports (-moz-appearance: none) {
  .digit::before {
    padding-left: 0;
  }
}

.digit::after {
  content: attr(data-digit-after);
  background-color: #2c2c44;
  color: #d3506f;
  top: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.digit::before,
.digit::after {
  position: absolute;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

@media (min-width: 900px) {
  .digit::before,
  .digit::after {
    font-size: 3rem;
  }
}

@media (min-width: 1440px) {
  .digit::before,
  .digit::after {
    font-size: 4rem;
  }
}

.card {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.card .bullet {
  width: 100%;
}

.card::before, .card::after {
  content: "";
  position: absolute;
  top: 32.5px;
  z-index: 5;
  width: 2.2px;
  height: 5px;
  background-color: black;
}

@media (min-width: 900px) {
  .card::before, .card::after {
    top: 45px;
    width: 4.4px;
    height: 10px;
  }
}

@media (min-width: 1440px) {
  .card::before, .card::after {
    top: 65px;
    width: 4.4px;
    height: 10px;
  }
}

.card::before {
  left: 0;
  border-radius: 0px 5px 5px 0px;
}

.card::after {
  content: "";
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

.card-face {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
  color: #fb6087;
}

@media (min-width: 900px) {
  .card-face {
    font-size: 3rem;
  }
}

@media (min-width: 1440px) {
  .card-face {
    font-size: 4rem;
  }
}

.card.active {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
}

.card-face-front {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  background-color: #2c2c44;
  color: #d3506f;
}

.card-face-back {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -moz-transform: rotateX(-180deg);
  background-color: #34364f;
}

.digit::before,
.card-face-back {
  border-radius: 0 0 8px 8px;
}

.digit::after,
.card-face-front {
  border-radius: 8px 8px 0 0;
}

.bottom-img {
  width: 100%;
  height: 150px;
  position: relative;
  bottom: -70px;
  overflow: hidden;
  background-image: url("/images/pattern-hills.svg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
}

.footer-social {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 50px;
}

.footer-social li {
  padding: 0 1rem;
  cursor: pointer;
}

.footer-social li svg path:hover {
  fill: #fb6087;
}

.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  background-color: transparent;
  color: lightgray;
  width: 100%;
  height: 20px;
  bottom: 0;
  z-index: 10;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */